@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.userLocPopUp .leaflet-popup-content-wrapper {
  background-color: #8f4ee1 !important;
}

.userLocPopUp .leaflet-popup-tip {
  background-color: #8f4ee1 !important;
}
.userLocMarker .leaflet-marker-icon {
  border: none !important;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: #8f4ee1 !important;
  display: flex !important;
  justify-content: center !important;
}
.leaflet-popup-content-wrapper {
  width: 350px !important;
}
.leaflet-marker-icon {
  border-radius: 50% !important;
  border: #8f4ee1 3px solid;
}

.leaflet-control-container .leaflet-routing-container-hide {
  display: none;
}

.card0 {
  @apply mx-5  my-20 
  grid
  h-[fit]
  grid-cols-12 grid-rows-6 
  rounded-xl bg-gray-600 py-5 xl:my-0
  xl:h-[80vh]
  xl:grid-rows-1;
}

.formInput {
  @apply mx-auto w-full rounded-2xl  bg-white px-6 py-3 placeholder:italic;
}

.formBT {
  @apply mx-auto w-1/4

  cursor-pointer rounded-3xl bg-purple-500 py-3 text-xl hover:bg-purple-100;
}
